.main-container {
  position: relative;

  .left-panel {
    position: fixed;
  }

  .mobile-navbar {
    position: fixed;
  }

  .motor-container {
    position: absolute;
  }
}

.delete-motors-cont {
  padding: 0 10%;
}

.delete-motors-grid-cont {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
