.reserve-motor-cont {
  border: 2px solid var(--secondary-color);
  background: #fff;
  padding: 50px;
  border-radius: 50px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
}

.motor-reserved h2 {
  color: rgb(16, 121, 16);
}

.date-selector {
  margin-bottom: 20px;
}

.date-selector label input {
  margin-left: 20px;
  padding: 6px 20px;
}

.select-city-btn, .reserve-motor-btn {
  border: none;
  background: var(--secondary-color);
  padding: 8px 20px;
  width: 150px;
  margin-bottom: 20px;
}

.reserved-messages {
  color: #fff;
}