.main-container{
   position: relative;
    .left-panel{
        position: fixed;
    } 
    .mobile-navbar{
        position: fixed;
    }   
    .lifestyle-container{
        position: absolute;
        top: 5rem;
        left: 20%;
    }
}