.navigation-container{
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    border: 2px solid green;
    .logo-container{
        align-self: center;
        margin-top: 3rem;
        margin-bottom: 7rem;
        .motor-logo{
            width: 100px;
        }
    }
    .navigation-item{
        align-self: flex-end;
        display: flex;
        width: 90%;

        .ul-element{
            width: 100%;
            align-items: flex-end;
            display: flex;
            flex-direction: column;
            
            .nav-link{
                align-self: flex-start;
                list-style: none;
                margin-bottom: 15px;
                width: 100%;
                .navlink-class{
                    text-decoration: none;
                    .active{
                        background-color: var(--secondary-color);
                    }
                }
                .nav-item{
                    text-decoration: none ;
                    color: var(--black-color);
                    font-weight: 600;
                    font-size: 1.2rem;
                    width: 100%;
                    height: 100%;
                }
                .nav-item:not(.active):hover{
                    background-color: var(--secondary-color);
                    color:var(--white-color);
                    text-align: center;
                }
            }
        }
    }

    .social-media-container{
        position: absolute;
        bottom: 2rem;
        align-self: center;
        width: 40%;
        display: flex;
        justify-content: space-between;
    }
    
    @media screen and (max-width: 850px){
        display: none;
    }
   
}

