.login__page--container {
  height: 100vh;
  width: 100vw;
  background-image: url('../../assets/background-image-motor\ \(1\).jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__page--shadow {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.login__page--title {
  font-size: 2rem;
  margin-bottom: 3rem;
  font-weight: bold;
  color: #f3f3f3;
}

.signup__form--text {
  color: #d3d3d3;
}

.login__form--link {
  margin: 0;
}

.login__form--input {
  background-color: black;
  border-radius: 1.2rem;
  height: 2.4rem;
  border: solid 1px white;
  color: white;
  width: 20rem;
  padding-left: 2rem;
}

.login__form--btn {
  height: 2.4rem;
  background-color: yellow;
  width: 10rem;
  border: none;
  border-radius: 0.2rem;
}
